In [112]:
import pandas as pd
import numpy as np

In [113]:
# Export dates
# Data currently runs '1892-04-08' to '2015-06-30'

start_date = pd.to_datetime('2013-01-01')
end_date = pd.to_datetime('2013-12-31')

In [114]:
na_values = ['-9999','9999']
df = pd.read_csv('BZN-weather-data_4.1895-6.2015.csv',
                        na_values=na_values,
                        index_col='DATE',
                        parse_dates=True)

In [117]:
# Select columns of interest from full data set
df = df[['PRCP','TMAX','TMIN']]
df['day'] = df.index.day
df['month'] = df.index.month

# Calculate record high and add to output_df
record_max = df[['TMAX','month','day']].groupby(['month','day']).aggregate([max, np.mean])
record_max.columns = ['RECHIGH', 'AVGHIGH']
df = pd.merge(df, record_max, left_on=['month','day'], right_index=True).sort_index()

# Calculate record low and add to output_df
record_min = df[['TMIN','month','day']].groupby(['month','day']).aggregate([min, np.mean])
record_min.columns = ['RECLOW', 'AVGLOW']
df = pd.merge(df, record_min, left_on=['month','day'], right_index=True).sort_index()

df.head()

,PRCP,TMAX,TMIN,day,month,RECHIGH,AVGHIGH,RECLOW,AVGLOW
DATE,,,,,,,,,
1892-04-08,0,78,-150,8,4,239,109.105691,-172,-22.284553
1892-04-09,0,128,6,9,4,250,111.983740,-128,-17.008130
1892-04-10,0,100,6,10,4,244,107.577236,-150,-15.528455
1892-04-11,0,89,-6,11,4,239,113.447154,-117,-13.252033
1892-04-12,0,94,-28,12,4,244,121.804878,-156,-15.674797

In [120]:
# Strip df_output to date range of interest

df = df.loc[start_date:end_date]

In [122]:
df[df.index.year == 2014].to_csv("BZN-weather-data_2014.csv")

In [123]:
# output_df.to_csv("BZN-weather-data_entire.csv")

In [124]:
df.to_csv("BZN-weather_" + str(start_date.date()) + "_" + str(end_date.date()) + ".csv")

In [125]:
print start_date.date()

2013-01-01