In [36]:
import pandas as pd
import numpy as np

In [86]:
na_values = ['-9999','9999']
df = pd.read_csv('BZN-weather-data_4.1895-6.2015.csv',
                        na_values=na_values,
                        index_col='DATE',
                        parse_dates=True)

df.head()

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,MDPR,Measurement Flag,Quality Flag,Source Flag,Time of Observation,...,WT18,Measurement Flag.16,Quality Flag.16,Source Flag.16,Time of Observation.16,WT03,Measurement Flag.17,Quality Flag.17,Source Flag.17,Time of Observation.17
DATE,,,,,,,,,,,,,,,,,,,,,
1892-04-08,GHCND:USC00241044,BOZEMAN MONTANA SU MT US,unknown,unknown,unknown,NaN,,,,NaN,...,NaN,,,,NaN,NaN,,,,NaN
1892-04-09,GHCND:USC00241044,BOZEMAN MONTANA SU MT US,unknown,unknown,unknown,NaN,,,,NaN,...,NaN,,,,NaN,NaN,,,,NaN
1892-04-10,GHCND:USC00241044,BOZEMAN MONTANA SU MT US,unknown,unknown,unknown,NaN,,,,NaN,...,NaN,,,,NaN,NaN,,,,NaN
1892-04-11,GHCND:USC00241044,BOZEMAN MONTANA SU MT US,unknown,unknown,unknown,NaN,,,,NaN,...,NaN,,,,NaN,NaN,,,,NaN
1892-04-12,GHCND:USC00241044,BOZEMAN MONTANA SU MT US,unknown,unknown,unknown,NaN,,,,NaN,...,NaN,,,,NaN,NaN,,,,NaN

In [101]:
# Data cleaning beyond import? Doesn't seem necessary

In [108]:
# Making output dataframe w/ columns I really care about
output_df = pd.DataFrame(df[['PRCP','TMAX','TMIN']])

output_df.head()

            PRCP  TMAX  TMIN
DATE
1892-04-08     0    78  -150
1892-04-09     0   128     6
1892-04-10     0   100     6
1892-04-11     0    89    -6
1892-04-12     0    94   -28

In [141]:
# Calculating historical extremes/averages by month and day

# Hoping I can get away with ignoring leap years

# df[df.index.month == 12] # How to select rows by month
# df[df.index.day === 2] # How to select rows by day

daysMonth = { 1:31, 2:29, 3:31, 4:30, 5:31, 6:30,
             7:31, 8:31, 9:30, 10:31, 11:30, 12:31}

avgHigh = {}
avgLow = {}
recHigh = {}
recLow = {}

for month in range(1, 13):
    for day in range(1, daysMonth[month]+1):
        
        tMaxList = df[(df.index.month == month) & (df.index.day == day)]['TMAX']
        tMinList = df[(df.index.month == month) & (df.index.day == day)]['TMIN']
        # prcpList = df[(df.index.month == month) & (df.index.day == day)]['PRCP']
        
        # Calculate values of interest an assign them to a dict
        # hashed with a month/day tuple
        avgHigh[(month, day)] = tMaxList.mean()
        avgLow[(month, day)] = tMinList.mean()
        recHigh[(month, day)] = tMaxList.max()
        recLow[(month, day)] = tMinList.min()
        
        # print "%r/%r" % (month, day)
        #  print "Avg tMax: %d; Avg tMin: %d; HistHigh: %d, HistLow: %d" % (tMaxAvg, tMinAvg, tHistHigh, tHistLow)

In [142]:
# Adding columns to output_df

output_df['AVGHIGH'] = np.nan
output_df['AVGLOW'] = np.nan
output_df['RECHIGH'] = np.nan
output_df['RECLOW'] = np.nan

for index, row in output_df.iterrows():
    output_df['AVGHIGH'][index] = avgHigh[(index.month, index.day)]
    output_df['AVGLOW'][index] = avgLow[(index.month, index.day)]
    output_df['RECHIGH'][index] = recHigh[(index.month, index.day)]
    output_df['RECLOW'][index] = recLow[(index.month, index.day)]

In [143]:
# Preview output
output_df[output_df.index.year == 2014]

            PRCP  TMAX  TMIN    AVGHIGH      AVGLOW  RECHIGH  RECLOW
DATE
2014-01-01     5    33   -17 -16.925620 -120.793388      139    -333
2014-01-02     0    28   -83  -6.809917 -120.355372      117    -311
2014-01-03     5    67   -11  -5.454545 -114.727273      117    -311
2014-01-04    10    11  -133  -4.123967 -113.933884      111    -317
2014-01-05    18   -72  -194  -0.429752 -111.041322      106    -339
2014-01-06     0   -61  -239  -4.416667 -111.000000      128    -344
2014-01-07     8    17   -78  -1.115702 -104.876033      133    -361
2014-01-08     5    33   -61   3.115702 -106.487603      183    -361
2014-01-09    10    33   -17  -3.049587 -107.363636      128    -328
2014-01-10     0    28   -44  -3.900826 -112.545455      111    -333
2014-01-11     0    94     6  -4.363636 -111.008264      128    -350
2014-01-12     5    78   -28  -1.716667 -116.074380      133    -333
2014-01-13     0    56   -17   5.115702 -103.495868      144    -306
2014-01-14     0    56   -17  -0.809917  -99.785124      128    -317
2014-01-15     0    61   -50   5.950413 -102.826446      128    -317
2014-01-16     0    78   -44  -1.041322 -107.115702      156    -322
2014-01-17     0    83   -78   2.884298 -106.966942      144    -367
2014-01-18     0    83   -83   7.545455 -102.619835      122    -350
2014-01-19     0    72   -44   4.016529 -108.041322      161    -350
2014-01-20     0    56   -89  -3.991736 -115.041322      128    -372
2014-01-21     0    61   -89   0.586777 -110.115702      117    -333
2014-01-22    25    61   -50   6.413223 -107.082645      128    -344
2014-01-23     0   -11  -106   6.333333 -104.308333      144    -344
2014-01-24     0    39   -72   3.075000 -104.264463      144    -378
2014-01-25     0    72   -78  -0.553719 -112.256198      128    -378
2014-01-26    15    56   -39  -3.793388 -112.652893      133    -344
2014-01-27     3   -33  -122  -2.743802 -111.636364      128    -361
2014-01-28     0   -28  -167  -4.545455 -114.024793      111    -361
2014-01-29     3    33   -67  -6.809917 -119.371901      128    -344
2014-01-30    36    39  -117  -0.694215 -110.247934      128    -322
...          ...   ...   ...        ...         ...      ...     ...
2014-12-02     3    17  -150  32.175000  -72.600000      133    -261
2014-12-03     0    22  -117  33.537815  -71.537815      150    -250
2014-12-04     0    67   -11  23.883333  -78.675000      156    -289
2014-12-05     3   128     6  15.100000  -91.425000      167    -278
2014-12-06     0    83   -22  12.608333  -93.758333      139    -294
2014-12-07     8    89   -44   6.041667  -93.391667      111    -306
2014-12-08     0    72   -39   6.875000 -102.616667      139    -356
2014-12-09     0   111   -33  11.450000 -100.375000      156    -378
2014-12-10     0   111    -6  16.891667  -90.416667      167    -333
2014-12-11     0   156     6  17.766667  -92.533333      156    -361
2014-12-12     0   167    44  12.950000  -92.883333      167    -350
2014-12-13    10   156    -6  10.333333  -95.450000      156    -339
2014-12-14    36     0   -50   8.400000  -95.266667      161    -317
2014-12-15    46   -17   -94  10.891667  -97.991667      144    -300
2014-12-16     0   -28  -128   5.766667  -99.258333      128    -306
2014-12-17    15    44   -61   5.108333 -102.158333      139    -339
2014-12-18     0    39  -106   4.400000 -105.508333      167    -339
2014-12-19     0    61   -56   5.525000 -101.725000      128    -333
2014-12-20     0    44   -50   0.316667 -100.508333      106    -306
2014-12-21    18    61   -33   4.208333  -93.066667      139    -339
2014-12-22     5    33   -22   5.575000  -96.358333      144    -344
2014-12-23     8    22   -28   2.066667 -101.991667      128    -344
2014-12-24     0    44   -39   4.575000 -104.175000      117    -356
2014-12-25    84    39   -56   4.458333 -105.608333      117    -300
2014-12-26     3   -56  -133   1.350000 -106.766667      150    -283
2014-12-27     0   -33  -172   7.550000 -105.333333      172    -300
2014-12-28    13   -22   -83   9.258333 -106.416667      117    -272
2014-12-29    18   -83  -161  -3.000000 -109.041667      144    -328
2014-12-30     0  -161  -278  -5.025000 -113.350000      111    -333
2014-12-31     0   -94  -267 -13.800000 -117.425000      117    -361

[365 rows x 7 columns]

In [144]:
output_df[output_df.index.year == 2014].to_csv("BZN-weather-data_2014.csv")

In [148]:
output_df.to_csv("BZN-weather-data_entire.csv")